<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="BT HFP Dial Forwarder for FYT"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/Theme.Translucent.NoTitleBarAndAnimation"
        android:noHistory="true"
        android:excludeFromRecents="true"
        >

        <!-- Launcher entry: asks to become the default dialer, then closes. -->
        <activity
            android:label="FYT Dialer"
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Headless call handler: no UI, forwards tel: URIs to the FYT BT module. -->
        <activity
            android:name=".CallActivity"
            android:exported="true"
            >


            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name=".CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true"
                />
        </service>
    </application>

</manifest>
